/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #e9e9e9;
  --color-light-grey: #bdbdbd;
  --color-medium-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-black: #0d0d0d;

  --color-pastel-purple: #e8dff5;
  --color-pastel-pink: #fce1e4;
  --color-pastel-yellow: #fcf4dd;
  --color-pastel-green: #ddedea;
  --color-pastel-blue: #daeaf6;
  --color-white-orange: #fff7f3;
  --color-light-orange: #ffcaaf;
  --color-orange: #ff9169;
  --color-red: #ff2525;
  --color-dark-orange: #ff7c57;
  --color-turquoise: #4bbaa9;
  --color-dark-sky: #7995dd;
  --color-dark-yellow: #f4d754;
  --color-dark-turquoise: #6db8b2;
  --color-dark-blue: #639abd;
  --color-dark-green: #588b81;
  --color-dark-purple: #6667ab;
  --color-dark-pink: #bd6381;

  /* Font size */
  --font-huge: 2.5rem;
  --font-large: 2.2rem;
  --font-medium: 1.6rem;
  --font-regular: 1.2rem;
  --font-small: 1rem;
  --font-tiny: 0.9rem;
  --font-micro: 0.85rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius-large: 1rem;
  --size-border-radius-medium: 0.6rem;
  --size-border-radius-regular: 0.4rem;
  --size-border-radius-small: 0.25rem;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans';
  color: var(--color-black);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-huge);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h4 {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 0.5rem 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.25rem 0;
}

#root {
  display: flex;
}

.main-page {
  width: 100vw;
  margin: 3rem 6rem;
}

@media screen and (max-width: 480px) {
  :root {
    /* Font size */
    --font-huge: 2rem;
    --font-large: 1.8rem;
    --font-medium: 1.4rem;
    --font-regular: 1rem;
    --font-small: 0.9rem;
    --font-tiny: 0.85rem;
    --font-micro: 0.8rem;
  }

  #root {
    flex-direction: column;
  }

  .main-page {
    padding: 1rem;
    padding-top: 5rem;
    margin: 0 auto;
  }
}
