.header-container {
  position: relative;
}

.previous-btn {
  position: absolute;
  top: 0.5rem;
  left: -3rem;
  color: var(--color-black);
  font-size: var(--font-medium);
}

.challenge-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
}

.challenge-info .item {
  margin-bottom: 0.6rem;
}

.challenge-info .item-title {
  font-weight: var(--weight-medium);
  margin-right: 0.6rem;
}

.upload-btn {
  align-self: flex-end;
  width: 8.2rem;
  height: 2rem;
  color: var(--color-white);
  background-color: var(--color-orange);
  font-size: var(--font-tiny);
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius-regular);
  margin-bottom: 0.4rem;
  transition: all 100ms ease-in;
}

.upload-btn:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
}

.progress {
  width: 100%;
  height: 7.94rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid black;
  margin-bottom: 2.4rem;
  overflow-x: auto;
}

.progress .user {
  width: 14rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-grey);
  margin-bottom: -1px;
}

.progress .user .icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.4rem;
  color: var(--color-light-grey);
}
.progress .user .displayName {
  width: 9.5rem;
  font-size: var(--font-tiny);
}
.progress .user .achievement {
  width: 2.5rem;
  font-size: var(--font-tiny);
  padding-right: 0.4rem;
  text-align: end;
}

.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

@media screen and (max-width: 480px) {
  .header-container {
    display: flex;
    align-items: center;
  }

  .header-title {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .previous-btn {
    top: 0.4rem;
    left: 0;
  }

  .challenge-info {
    flex-direction: column;
    align-items: center;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .upload-btn {
    align-self: auto;
    order: -1;
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
  }

  .progress {
    margin-bottom: 2rem;
  }

  .progress .user {
    width: 50%;
  }

  .posts {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
