/*************/
/* Goal Card */
/*************/
.card {
  display: flex;
  width: 20rem;
  height: 12.5rem;
  border-radius: var(--size-border-radius-large);
  margin-right: 2rem;
  margin-bottom: 2rem;
  box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.25);
}

/*********************/
/* Goal Card - index */
/********************/
.card-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  padding: 0.9rem 0;
  border-top-left-radius: var(--size-border-radius-large);
  border-bottom-left-radius: var(--size-border-radius-large);
}

.card-index.purple {
  background-color: var(--color-pastel-purple);
}

.card-index.pink {
  background-color: var(--color-pastel-pink);
}
.card-index.yellow {
  background-color: var(--color-pastel-yellow);
}
.card-index.green {
  background-color: var(--color-pastel-green);
}
.card-index.blue {
  background-color: var(--color-pastel-blue);
}

.card-icon {
  width: 1.5rem;
  font-size: 1.1rem;
  padding: 0;
  margin-bottom: 0.4rem;
  color: var(--color-grey);
}

.card-edit:hover,
.card-delete:hover {
  color: var(--color-black);
}

/**********************/
/* Goal Card - header */
/**********************/
.card-info {
  display: flex;
  flex-direction: column;
  width: 88%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
  border-bottom: 2px solid var(--color-light-white);
  user-select: none;
}

.card-profile {
  display: flex;
  align-items: center;
}

.profile-icon {
  font-size: 1.2rem;
  color: var(--color-light-grey);
  margin-right: 0.4rem;
}

.profile-username {
  font-size: 0.8rem;
  font-weight: var(--weight-medium);
}

.card-date {
  font-size: 0.75rem;
  font-weight: var(--weight-medium);
  color: var(--color-medium-grey);
}

/***********************/
/* Goal Card - content */
/***********************/

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.8rem;
  user-select: none;
  overflow-y: auto;
}

.card-content-label {
  font-size: 0.8rem;
  font-weight: var(--weight-medium);
  display: block;
}

.card-content-value {
  font-size: 0.75rem;
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  margin-bottom: 0.4rem;
}

/*************************/
/* Goal Card - edit form */
/*************************/
.edit-form {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 1rem;
}

.edit-form-btns {
  align-self: flex-end;
}

.edit-form-btn {
  width: 3.2rem;
  height: 1.2rem;
  font-size: 0.7rem;
  font-weight: var(--weight-semi-bold);
  padding: 0.2rem 0;
  border-radius: var(--size-border-radius-small);
}

.edit-form-update {
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-orange);
  color: var(--color-white);
  outline: none;
  border: 1px solid var(--color-orange);
  margin-left: 0.2rem;
  transition: all 100ms ease-in;
}

.edit-form-update:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.edit-form-cancel {
  color: var(--color-medium-grey);
  border: 1px solid var(--color-light-white);
}

.edit-form-cancel:hover {
  border: 1px solid var(--color-light-white);
  background-color: var(--color-light-white);
  color: var(--color-black);
}

.edit-form-label {
  font-size: 0.8rem;
  font-weight: var(--weight-medium);
}

.edit-form-input {
  height: 1.25rem;
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 480px) {
  .card {
    margin-right: 0;
  }
}
