.page-container {
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

.homepage {
  position: relative;
  width: 100%;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  background-color: var(--color-white);
}

.nav {
  max-width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  margin: 0 auto;
}

.nav-container.active {
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-dark-orange);
  cursor: pointer;
}

.link {
  color: var(--color-grey);
  font-weight: var(--weight-medium);
}

.link:hover {
  color: var(--color-black);
}

.signup {
  margin-right: 2rem;
}

.header {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 15% 5rem;
}

.header .content {
  max-width: 26rem;
  padding-bottom: 4rem;
  margin-right: 5rem;
}

.header .title {
  margin-bottom: 1rem;
}

.header .description {
  max-width: 26rem;
  font-size: var(--font-regular);
  line-height: 1.5;
  color: var(--color-grey);
  margin-bottom: 3rem;
}

.header .get-started {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius-small);
  background-color: var(--color-orange);
  color: var(--color-white);
  border: 2px solid var(--color-orange);
  padding: 0.6rem 1.2rem;
}

.header .get-started:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
}

.header img {
  max-width: 30rem;
}

.recommend {
  max-width: 100vw;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-white);
  padding: 5rem 15%;
}

.recommend .title {
  margin-bottom: 5.2rem;
}

.recommend .items {
  max-width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.recommend .item {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 2rem 1.6rem;
}

.recommend .icon-container {
  width: 7.4rem;
  height: 7.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  margin-bottom: 3.6rem;
}

.recommend .icon {
  font-size: 4.2rem;
  color: var(--color-dark-orange);
}

.recommend .description {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  text-align: center;
  line-height: 1.5;
}

.features {
  max-width: 100vw;
  padding: 5rem 15%;
  margin: 0 auto;
}

.features .title {
  text-align: center;
}

.feature {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.feature .content {
  width: 26rem;
  height: 8rem;
}

.feature .feature-description {
  min-width: 16rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--color-grey);
}

.goal img {
  width: 30rem;
  margin-right: 2rem;
}

.progress img {
  width: 28rem;
}

.challenge img {
  width: 30rem;
  margin-right: 2rem;
}

.post img {
  width: 30rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 14rem;
  padding: 3rem 15% 2rem;
  color: var(--color-white);
  background-color: var(--color-orange);
}

.footer .logo-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  width: 55vw;
  font-size: var(--font-medium);
  color: var(--color--white);
}

.footer .contact-container {
  width: 30vw;
}

.footer .contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.footer .email {
  font-size: var(--font-small);
}

.footer .copyright {
  font-size: var(--font-tiny);
}

@media screen and (max-width: 767px) {
  .nav {
    height: 3rem;
    padding: 0 2rem;
  }

  .logo {
    font-size: var(--font-regular);
  }

  .link {
    font-size: var(--font-micro);
  }

  .signup {
    margin-right: 1rem;
  }

  .header {
    width: 50rem;
    flex-direction: column;
    padding: 6rem 2rem 5rem;
  }

  .header .content {
    order: 2;
    width: 20rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  .header .title {
    font-size: var(--font-medium);
  }

  .header .description {
    font-size: var(--font-micro);
    width: 20rem;
  }

  .header .get-started {
    font-size: var(--font-micro);
    padding: 0.4rem 0.8rem;
  }

  .header img {
    order: 1;
    width: 16.5rem;
    padding-right: 0;
  }

  .recommend {
    padding: 3rem 2rem;
    height: 45rem;
  }

  .recommend .title {
    font-size: var(--font-medium);
    margin-bottom: 2.6rem;
  }

  .recommend .items {
    flex-direction: column;
  }

  .recommend .item {
    width: 14rem;
    margin-bottom: 2rem;
  }

  .recommend .icon-container {
    width: 5.2rem;
    height: 5.2rem;
    margin-bottom: 1.2rem;
  }

  .recommend .icon {
    font-size: 2.2rem;
  }

  .recommend .description {
    font-size: var(--font-small);
    width: 16rem;
  }

  .features {
    padding: 3rem 2rem;
  }

  .features .title {
    font-size: var(--font-medium);
    margin-bottom: 2.4rem;
  }

  .feature {
    height: 20rem;
    flex-direction: column;
    margin-bottom: 1.2rem;
    justify-content: center;
  }

  .feature .content {
    width: 18rem;
    order: 2;
    text-align: center;
  }

  .feature img {
    order: 1;
    margin-bottom: 1rem;
  }

  .feature .feature-title {
    font-size: var(--font-regular);
  }

  .feature .feature-description {
    font-size: var(--font-small);
  }

  .goal img {
    width: 15rem;
  }

  .progress img {
    width: 14rem;
  }

  .challenge img {
    width: 18rem;
  }

  .post img {
    width: 16rem;
  }

  .footer {
    height: 10rem;
    padding: 1rem 2rem;
  }

  .footer .logo-contact {
    flex-direction: column;
  }

  .footer .logo {
    font-size: var(--font-regular);
    margin-right: 0rem;
    width: 20vw;
    margin-bottom: 1rem;
  }

  .footer .contact-container {
    width: 20vw;
  }

  .footer .contact {
    font-size: var(--font-small);
  }

  .footer .email {
    font-size: var(--font-micro);
  }

  .footer .copyright {
    font-size: var(--font-micro);
  }
}
