.header-container {
  position: relative;
  margin-bottom: 1.2rem;
}

.previous-btn {
  position: absolute;
  top: 0.5rem;
  left: -3rem;
  color: var(--color-black);
  font-size: var(--font-medium);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card-container.scheduled,
.card-container.past {
  width: 15.8rem;
  height: 13.8rem;
  position: relative;
  margin-bottom: 1.6rem;
  margin-right: 1.2rem;
  opacity: 65%;
}

.days-left {
  width: 7rem;
  height: 1.8rem;
  position: absolute;
  top: 3.2rem;
  left: 4.4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  font-weight: var(--weight-medium);
  line-height: 1.8;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header-container {
    position: static;
    display: flex;
    align-items: center;
  }

  .header-title {
    text-align: center;
  }

  .previous-btn {
    position: static;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .challenge-list {
    text-align: center;
    margin-bottom: 2rem;
  }

  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .card-container.scheduled,
  .card-container.past {
    width: auto;
    margin-right: 0;
  }
}
