.calendar {
  width: 12.8rem;
  height: 13.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--weight-medium);
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius-medium);
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  background-color: var(--color-dark-green);
  width: 100%;
  height: 1.8rem;
  justify-content: center;
  border-top-left-radius: 0.55rem;
  border-top-right-radius: 0.55rem;
}

.nav.yellow {
  background-color: var(--color-dark-yellow);
}

.nav.turquoise {
  background-color: var(--color-dark-turquoise);
}

.nav.blue {
  background-color: var(--color-dark-blue);
}

.nav.green {
  background-color: var(--color-dark-green);
}

.nav.purple {
  background-color: var(--color-dark-purple);
}

.nav.pink {
  background-color: var(--color-dark-pink);
}

.nav-month {
  width: 7.4rem;
  text-align: center;
  font-size: var(--font-small);
  color: white;
  user-select: none;
}

.nav-btn {
  height: 1.2rem;
  font-size: 1.2rem;
  color: white;
  padding: 0;
}

.days {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
  padding: 0 0.2rem;
}

.day {
  width: 1.2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  color: var(--color-medium-grey);
}

.dates-container {
  /* display: flex; */
  /* justify-content: center; */
  padding: 0 0.2rem;
  margin: 0 auto;
}

.dates {
  width: 12.8rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  /* padding-left: 0.4rem; */
}

.dates.non-editing {
  pointer-events: none;
  user-select: none;
}

.date {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0.27rem;
  cursor: pointer;
}

.date:hover {
  border: 0.1rem solid var(--color-medium-grey);
  border-radius: var(--size-border-radius-small);
}

.selected {
  background-color: var(--color-dark-green);
  color: white;
  border-radius: var(--size-border-radius-small);
}

.selected.yellow {
  background-color: var(--color-dark-yellow);
}

.selected.turquoise {
  background-color: var(--color-dark-turquoise);
}

.selected.blue {
  background-color: var(--color-dark-blue);
}

.selected.green {
  background-color: var(--color-dark-green);
}

.selected.purple {
  background-color: var(--color-dark-purple);
}

.selected.pink {
  background-color: var(--color-dark-pink);
}
