.calendar {
  width: 14rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--weight-medium);
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius-medium);
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  background-color: rgb(88, 139, 129);
  width: 100%;
  height: 1.8rem;
  justify-content: center;
  border-top-left-radius: 0.55rem;
  border-top-right-radius: 0.55rem;
}

.nav-month {
  width: 7.4rem;
  text-align: center;
  color: white;
}

.nav-btn {
  height: 1.2rem;
  font-size: 1.2rem;
  color: white;
  padding: 0;
}

.days {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.2rem;
}

.day {
  width: 1.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  color: var(--color-medium-grey);
}

.dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  padding-left: 0.4rem;
}

.dates.non-editing {
  pointer-events: none;
}

.date {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  cursor: pointer;
}

.date:hover {
  border: 0.15rem solid var(--color-medium-grey);
  border-radius: var(--size-border-radius-small);
}

.selected {
  background-color: rgb(88, 139, 129);
  color: white;
  border-radius: var(--size-border-radius-small);
}
