.card-detail {
  width: 34rem;
  height: 40rem;
  position: sticky;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--size-border-radius-medium);
  box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.25);
  user-select: none;
}

.card-detail-close {
  width: 2rem;
  height: 2rem;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 50%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  margin: 1.8rem 2.4rem 1rem 0;
}

.card-detail-close:hover {
  background-color: var(--color-light-white);
}

.card-detail-img {
  width: 22rem;
  height: 11rem;
  margin-bottom: 1.2rem;
}

.card-detail-content {
  width: 22rem;
}

.card-detail-content .title-category {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

.card-detail-content .title {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  margin-right: 0.8rem;
  margin-bottom: 0.2rem;
}

.card-detail-content .category {
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius-small);
  font-size: var(--font-tiny);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  border: none;
}

.card-detail-content .item {
  margin-bottom: 0.9rem;
}

.card-detail-content .item-name {
  font-weight: var(--weight-medium);
  margin-right: 0.6rem;
}

.card-detail .participate-btn {
  width: 6.6rem;
  height: 2rem;
  font-size: var(--font-tiny);
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: var(--size-border-radius-regular);
  margin-top: 1.6rem;
  transition: all 100ms ease-in;
}

.card-detail .participate-btn:hover {
  background-color: var(--color-light-white);
  color: var(--color-black);
}
