.header {
  display: flex;
  align-items: center;
}

.page-title {
  user-select: none;
}

.my-challenge-btn {
  width: 9.4rem;
  height: 2rem;
  border: 2px solid var(--color-orange);
  border-radius: var(--size-border-radius-regular);
  margin-left: 2rem;
  transition: all 100ms ease-in;
}

.my-challenge-btn:hover {
  background-color: var(--color-orange);
  border: none;
}

.my-challenge-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: var(--font-tiny);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

.my-challenge-link:hover {
  color: var(--color-white);
}

.my-challenge-icon {
  margin-left: 1.2rem;
}

/******************/
/* Challenge List */
/******************/
.challenge-list {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  user-select: none;
}

.challenge-list-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.category {
  width: 4.4rem;
  height: 1.8rem;
  margin-right: 0.8rem;
  font-size: 0.8rem;
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius-small);
  border: 1px solid var(--color-turquoise);
}

.category:hover {
  background-color: var(--color-turquoise);
  color: var(--color-white);
}

.category.active {
  background-color: var(--color-turquoise);
  color: var(--color-white);
  border: none;
}

.create-challenge-btn {
  width: 10.2rem;
  height: 2rem;
  font-size: var(--font-tiny);
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-orange);
  color: var(--color-white);
  margin-right: 3.8rem;
  border-radius: var(--size-border-radius-regular);
  transition: all 100ms ease-in;
}

.create-challenge-btn:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
}

/******************/
/* Challenge Cards */
/******************/
.cards-container {
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
