.goal-form-container {
  width: 29rem;
  height: 32rem;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius-large);
  padding: 2.8rem 3.4rem;
  margin: 0 auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.goal-form-title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 1.6rem;
  user-select: none;
}

.goal-form .label {
  display: block;
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}

.goal-form .input {
  width: 100%;
  height: 1.6rem;
}

.colors {
  display: flex;
}

.color {
  width: 2rem;
  height: 2rem;
  background-color: aquamarine;
  margin: 0.6rem;
  border-radius: 50%;
}

.color.active,
.color:hover {
  border: 2px solid var(--color-medium-grey);
}

.color.purple {
  background-color: var(--color-pastel-purple);
}

.color.pink {
  background-color: var(--color-pastel-pink);
}

.color.yellow {
  background-color: var(--color-pastel-yellow);
}

.color.green {
  background-color: var(--color-pastel-green);
}

.color.blue {
  background-color: var(--color-pastel-blue);
}

.goal-form .btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.6rem;
}

.goal-form .btn {
  width: 4.4rem;
  height: 1.6rem;
  font-size: var(--font-tiny);
  padding: 0.2rem 0;
  border-radius: var(--size-border-radius-small);
  font-weight: var(--weight-semi-bold);
}

.goal-form .btn.cancel {
  color: var(--color-medium-grey);
}

.goal-form .btn.cancel:hover {
  color: var(--color-black);
}

.goal-form .btn.submit {
  outline: none;
  border: none;
  background-color: var(--color-orange);
  color: var(--color-white);
  margin-left: 0.2rem;
  transition: all 100ms ease-in;
  cursor: pointer;
}

.goal-form .btn.submit:hover {
  background-color: var(--color-light-white);
  color: var(--color-black);
}
