.habit-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.6rem;
}

.new-habit {
}

.new-habit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: var(--size-border-radius-regular);
  margin-bottom: 2rem;
  transition: all 200ms ease;
}

.new-habit-btn:hover {
  background-color: var(--color-light-white);
  color: var(--color-black);
}

.add-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.4rem;
  margin-bottom: 0.1rem;
}
