.habit-card {
  width: 30rem;
  height: 17.4rem;
  margin-bottom: 2.4rem;
  border-radius: var(--size-border-radius-large);
  box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.25);
  padding: 0.6rem 1rem;
}

.card-btns {
  height: 1.4rem;
}

.card-btn {
  font-size: 1rem;
  color: var(--color-medium-grey);
}

.card-btn:hover {
  color: var(--color-black);
}

.card-contents {
  display: flex;
  justify-content: space-around;
}

.card-info {
  width: 12rem;
  padding: 0 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

.card-title {
  width: 100%;
  height: 1.6rem;
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
}

.card-title-edit {
  height: 1.6rem;
}

.card-btns .edit-btn {
  width: 3.6rem;
  height: 1.25rem;
  font-size: 0.75rem;
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius-small);
}

.card-btns .edit-btn.update {
  background-color: var(--color-orange);
  color: var(--color-white);
  outline: none;
  border: none;
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  transition: all 100ms ease-in;
}

.card-btns .edit-btn.update:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
}

.card-btns .edit-btn.cancel {
  width: 3.8rem;
  color: var(--color-medium-grey);
  border: 1px solid var(--color-light-white);
}

.card-btns .edit-btn.cancel:hover {
  color: var(--color-black);
  background-color: var(--color-light-white);
}

.card-title-edit input {
  height: 1.4rem;
}

.count {
  font-weight: var(--weight-medium);
  margin-bottom: 0.4rem;
}

.count-title {
  font-size: var(--font-tiny);
  margin-right: 0.6rem;
}

.count-number {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

.count-number.yellow {
  color: var(--color-dark-yellow);
}

.count-number.turquoise {
  color: var(--color-dark-turquoise);
}

.count-number.blue {
  color: var(--color-dark-blue);
}

.count-number.green {
  color: var(--color-dark-green);
}

.count-number.purple {
  color: var(--color-dark-purple);
}

.count-number.pink {
  color: var(--color-dark-pink);
}
