.new-habit {
  height: 12rem;
  margin-top: 2rem;
}

.new-habit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius-regular);
  transition: all 200ms ease;
}

.new-habit-btn:hover {
  background-color: var(--color-light-grey);
}

.add-icon {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.habit-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.8rem;
}
