/*****************/
/* Login, Signin */
/*****************/
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-white);
}

.form {
  width: 28rem;
  height: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius-medium);
  box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.25);
  padding: 3rem 2rem;
}

.or {
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
  user-select: none;
}

.google-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 2rem;
  border: 1px solid var(--color-grey);
  border-radius: var(--size-border-radius-small);
  margin: 0.7rem 0 1.4rem;
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
}

.google-auth:hover {
  border: none;
  background-color: var(--color-light-white);
}

.google-icon {
  font-size: 1.2rem;
  margin-right: 0.6rem;
}

.other-way-ask {
  font-size: 0.9rem;
}

.other-way-link {
  margin-left: 0.6rem;
  font-weight: var(--weight-medium);
}

.other-way-link.login {
  color: var(--color-turquoise);
}

.other-way-link.signup {
  color: var(--color-dark-sky);
}

.other-way-link:hover {
  color: var(--color-light-grey);
}

/*************/
/* Auth Form */
/*************/
.auth-form-container {
  position: relative;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previous-btn {
  position: absolute;
  top: 0.6rem;
  left: 0;
  color: var(--color-black);
  font-size: 1.2rem;
}

.previous-btn:hover {
  color: var(--color-light-grey);
}

.logo {
  color: var(--color-dark-orange);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  user-select: none;
  margin-bottom: 0.8rem;
}

.form-type {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  user-select: none;
  margin-bottom: 0.8rem;
}

.auth-form {
  width: 20rem;
}

.auth-form .label {
  display: block;
  font-size: var(--font-small);
  margin-bottom: 0.1rem;
}
.auth-form .input {
  width: 100%;
  height: 1.8rem;
  margin-bottom: 0.6rem;
}

.auth-form .error {
  color: var(--color-red);
  font-weight: var(--weight-medium);
}

.auth-form .submit {
  width: 100%;
  height: 2rem;
  font-size: 0.9rem;
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  border-radius: var(--size-border-radius-small);
  border: none;
  outline: 0;
  margin: 1.2rem 0 0.7rem;
  transition: all 100ms ease-in;
  cursor: pointer;
}

.auth-form .submit.login {
  background-color: var(--color-turquoise);
}

.auth-form .submit.signup {
  background-color: var(--color-dark-sky);
}

.auth-form .submit:hover {
  background-color: var(--color-light-white);
  color: var(--color-black);
}
