.profile {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.profile-icon {
  font-size: 5rem;
  color: var(--color-light-grey);
  margin-right: 1.4rem;
}

.profile-username {
  font-size: 1.6rem;
  font-weight: var(--weight-semi-bold);
}

.nav {
  width: 68.5rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2.5rem;
  border-bottom: 2.5px solid rgb(230, 230, 230);
}

.nav-menu-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-menu {
  font-size: 1rem;
  font-weight: var(--weight-semi-bold);
  color: var(--color-grey);
  padding: 0.5rem 1rem;
}

.nav-menu.active {
  color: var(--color-black);
}

.active-bar {
  width: 9.8rem;
  height: 2px;
  background-color: var(--color-black);
  margin-bottom: -3px;
  transition: all 300ms ease;
}

.active-bar.goals {
  margin-left: 16.5rem;
}

.active-bar.feed {
  width: 9rem;
  margin-left: 43.1rem;
}

.goals {
  display: flex;
  flex-wrap: wrap;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}
