.profile {
  display: flex;
  align-items: center;
  margin-top: 2.6rem;
}

.profile-icon {
  font-size: 4.6rem;
  color: var(--color-light-grey);
  margin-right: 1.4rem;
}

.profile-username {
  font-size: 1.4rem;
  font-weight: var(--weight-semi-bold);
}

.nav {
  width: 74rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2.5rem;
  border-bottom: 2px solid rgb(230, 230, 230);
}

.nav-menu-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-menu {
  font-size: var(--font-tiny);
  font-weight: var(--weight-semi-bold);
  color: var(--color-grey);
  padding: 0.5rem 1rem;
}

.nav-menu.active {
  color: var(--color-black);
}

.active-bar {
  width: 9.8rem;
  height: 1.5px;
  background-color: var(--color-black);
  margin-bottom: -2px;
  transition: all 300ms ease;
}

.active-bar.goals {
  margin-left: 18.3rem;
}

.active-bar.feed {
  width: 8.8rem;
  margin-left: 46.7rem;
}

.goals {
  display: flex;
  flex-wrap: wrap;
}

.goals-container {
  width: 72rem;
  margin: 0 auto;
}

.feed-container {
  width: 68.4rem;
  margin: 0 auto;
}

.feed {
  display: flex;
  flex-wrap: wrap;
}
