.profile {
  display: flex;
  align-items: center;
  margin-top: 2.6rem;
}

.profile-icon {
  font-size: 4.6rem;
  color: var(--color-light-grey);
  margin-right: 1.4rem;
}

.profile-username {
  font-size: 1.4rem;
  font-weight: var(--weight-semi-bold);
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2.5rem;
  border-bottom: 2px solid rgb(230, 230, 230);
}

.nav-menu-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-menu {
  font-size: var(--font-tiny);
  font-weight: var(--weight-semi-bold);
  color: var(--color-grey);
  padding: 0.5rem 1rem;
}

.nav-menu.active {
  color: var(--color-black);
  border-bottom: 2px solid black;
}

.goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
