.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19rem;
  height: 22rem;
  padding: 0.8rem 0;
  margin: 0 1.4rem 2rem;
  border-radius: var(--size-border-radius-medium);
  box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.25);
}

.post-header {
  display: flex;
  width: 13.8rem;
}

.post-header .profile-icon {
  font-size: 2rem;
  color: var(--color-light-grey);
  margin-right: 0.6rem;
}

.post-header .username-date {
  display: flex;
  flex-direction: column;
}

.post-header .username {
  font-size: var(--font-tiny);
  font-weight: var(--weight-medium);
  margin-bottom: 0.1rem;
}

.post-header .date {
  font-size: var(--font-micro);
  color: var(--color-grey);
  font-weight: var(--weight-medium);
}

.post .picture {
  width: 13.8rem;
  height: 13.2rem;
  margin: 0.8rem 0 0.6rem;
}

.post .comment {
  width: 13.8rem;
  height: 3.8rem;
  font-size: var(--font-tiny);
}

.post .btns {
  align-self: flex-end;
  display: flex;
  margin-right: 1rem;
}

.post .report-btn {
  font-size: 0.8rem;
  font-weight: var(--weight-semi-bold);
  color: var(--color-grey);
}

.post .report-btn:hover {
  color: var(--color-black);
}

.post .delete-btn {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: var(--color-grey);
  padding: 0;
}

.post .delete-btn:hover {
  color: var(--color-black);
}
