.side-nav {
  width: 17rem;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  border-right: 2.5px solid var(--color-light-white);
  padding: 0 2.2rem;
}

.logo {
  color: var(--color-dark-orange);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin: 3rem 0;
  user-select: none;
}

/*********/
/* Pages */
/*********/
.pages {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  width: 12rem;
}

.page-link {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  border-radius: var(--size-border-radius-regular);
  text-decoration: none;
  outline: none;
}

.page-link:hover,
.page-link:active {
  text-decoration: none;
  color: var(--color-black);
}

.page-link .page-icon {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: var(--size-border-radius-regular);
  padding: 0.65rem;
  margin: 0.25rem;
}

.page-active {
  background-color: var(--color-light-orange);
  color: var(--color-black);
}

.page-active .page-icon {
  background-color: var(--color-white-orange);
}

.page-title {
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  margin-left: 0.2rem;
}

/**********/
/* Footer */
/**********/
.footer {
  width: 11.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 2.4rem;
  bottom: 3rem;
  margin-top: 16rem;
}

.footer-profile {
  display: flex;
  align-items: center;
}

.footer .profile-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--color-light-grey);
  margin-right: 0.7rem;
}

.footer .profile-displayName {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
}

.footer-logout {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  border-radius: var(--size-border-radius-regular);
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--color-grey);
}

.footer-logout:hover {
  color: var(--color-black);
}
